@import '../Theme.scss';

*{
    box-sizing: border-box;
    user-select: none;
}

#app-barter{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app-barter-content{
    display: var(--barter-display);
    justify-items: stretch;

    grid-template-columns: var(--barter-grid-template-columns);
    grid-template-rows: var(--barter-grid-template-rows);

    align-items: var(--barter-align-items);
    justify-items: var(--barter-justify-content);
    min-height: calc(100% - 100px);
    width: var(--barter-width);
    flex-direction: var(--barter-flex-direction);
    border-bottom: var(--barter-table-body-border);
}

#app-barter-footer{
    height: 400px;
}