// This is a modal type window that will display the reset for the current version of the app.
// It will be displayed when the user launch for the first time the app after an update.
#reset-back{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
    align-items: center;
    justify-content: center;

    #reset-container{
        background-color: #31302d;
        box-shadow: #000000 0px 0px 16px 0px;
        border: 1px solid #686975;
        width: 60%;
        height: 35%;
        border-radius: 10px;
        padding: 20px;
        overflow: auto;

        flex-direction: column;
        display: flex;

        color: white;

        // Custom scrollbar
        &::-webkit-scrollbar {
            width: 16px;
            margin-top: 16px;
            transition: all 0.2s ease-in-out;
        }
        &::-webkit-scrollbar-track {
            border-radius: 8px;
            box-shadow: inset 10px 0 10px 10px #404045;
            border: solid 2px transparent;
            transition: all 0.2s ease-in-out;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            box-shadow: inset 0 0 6px 6px #cca471;
            border: solid 3px transparent;
            transition: all 0.2s ease-in-out;
        }
        &::-webkit-scrollbar-thumb:hover {
            box-shadow: inset 0 0 6px 6px darken(#cca471, 10%);
            transition: all 0.2s ease-in-out;
        }


        .reset-header{
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            h1{
                margin: 0;
            }
        }

        .reset-content{
            font-size: 1.2em;
            text-align: center;
            height: 80px;
            
        }
        .reset-buttons{
            
            display: flex;
            justify-content: space-around;
            margin-top: 80px;
            align-items: center;

            .reset-confirm{
                background:linear-gradient(180deg, #904444 0%, #6c2525 100%);
                padding: 10px;
                border-radius: 4px;

                border: 1px solid #8b595c;

                width: 150px;

                color: white;
                font-size: 1.2em;
    
                &:hover{
                    background:linear-gradient(180deg, lighten(#904444, 5%) 0%, lighten(#6c2525, 5%) 100%);
                }
                cursor: pointer;
            }

            .reset-cancel{
                background:linear-gradient(180deg, #4c684a 0%, #628560 100%);
                padding: 10px;
                border-radius: 4px;
                border: 1px solid #5b8b59;
                width: 150px;
                color: white;
                font-size: 1.2em;
                &:hover{
                    background:linear-gradient(180deg, lighten(#4c684a, 5%) 0%, lighten(#628560, 5%) 100%);
                }
                cursor: pointer;
            }
        }

        .reset-content-footer{
            display: flex;
            margin-top: 20px;
            flex-direction: column;

            h3{
                font-size: 1.2em;
                font-weight: bold;
                margin-right: 20px;
            }
            ul{
                color: rgb(118, 170, 238);
                margin: 0;
            }

            .reset-content-footer-notes{
                font-size: 1.2em;
                margin-left: 20px;
            }
        }
    }
}