<settings><lang>en</lang><ignoreAncado>true</ignoreAncado><ignoreIliya>false</ignoreIliya><ignoreEpheria>false</ignoreEpheria><boatType>volante</boatType><hideTier5>false</hideTier5><hideTier4>false</hideTier4><hideTier3>false</hideTier3><hideTier2>false</hideTier2><hideTier1>false</hideTier1><carrack-need-hide-completed>1</carrack-need-hide-completed><disclaimer>true</disclaimer><chosenLang>true</chosenLang><hideAncado>true</hideAncado><hideIliya>true</hideIliya><hideEpheria>false</hideEpheria></settings>