<settings><lang>en</lang><ignoreAncado>false</ignoreAncado><ignoreIliya>false</ignoreIliya><ignoreEpheria>false</ignoreEpheria><boatType>none</boatType><hideTier5>false</hideTier5><hideTier4>false</hideTier4><hideTier3>false</hideTier3><hideTier2>false</hideTier2><hideTier1>false</hideTier1><carrack-need-hide-completed>0</carrack-need-hide-completed><disclaimer>false</disclaimer><chosenLang>false</chosenLang></settings>